soap/voucher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="VoucherService"
    targetNamespace="http://localhost/hotel-resto-api/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost/hotel-resto-api/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://localhost/hotel-resto-api/soap/">
            <xsd:element name="redeemVoucherRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="voucherCode" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="redeemVoucherResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="generateVoucherRequest"/>

            <xsd:element name="generateVoucherResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="redeemVoucherRequest">
        <part name="parameters" element="tns:redeemVoucherRequest"/>
    </message>
    <message name="redeemVoucherResponse">
        <part name="parameters" element="tns:redeemVoucherResponse"/>
    </message>
    <message name="generateVoucherRequest"/>
    <message name="generateVoucherResponse">
        <part name="parameters" element="tns:generateVoucherResponse"/>
    </message>

    <portType name="VoucherPortType">
        <operation name="redeemVoucher">
            <input message="tns:redeemVoucherRequest"/>
            <output message="tns:redeemVoucherResponse"/>
        </operation>
        <operation name="generateVoucher">
            <input message="tns:generateVoucherRequest"/>
            <output message="tns:generateVoucherResponse"/>
        </operation>
    </portType>

    <binding name="VoucherBinding" type="tns:VoucherPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="redeemVoucher">
            <soap:operation soapAction="redeemVoucher"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="generateVoucher">
            <soap:operation soapAction="generateVoucher"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="VoucherService">
        <port name="VoucherPort" binding="tns:VoucherBinding">
            <soap:address location="http://localhost/hotel-resto-api/soap/server.php"/>
        </port>
    </service>
</definitions>
